<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a template</title>
    <link rel="stylesheet" href="/css/mystyle.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
</head>

<body>
    <div class="start_bg">
        <a href="/"><button class="gohomebtn"><i class="fas fa-home"></i> Go home</button></a>
        <div class="d-flex justify-content-center align-items-center select_frame">
            <div class="select_ mb-4">Hello {{ user.name }}, Choose Your Favourite CV Template</div>
        </div>
        <!-- <div class=""> -->
        <div class="select_box">
            <div class="row mycont">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="template_">
                        <div class="temp_content">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="/images/temp1.jpg" alt="Avatar" style="width:100%;height:100%;">
                                    </div>
                                    <div class="flip-card-back">
                                        <div>
                                            <a href="/editor?name=1"><button class="proceedBtn">Select</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="template_">
                        <div class="temp_content">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="/images/temp2.jpg" alt="Avatar" style="width:100%;height:100%;">
                                    </div>
                                    <div class="flip-card-back">
                                        <div>
                                            <a href="/editor?name=2"><button class="proceedBtn">Select</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>